@tailwind base;
@tailwind components;
@tailwind utilities;

/*
    .color1 {color: #ffca2f;}
    .color2 {color: #dfe056;}
    .color3 {color: #003c84;}
    .color4 {color: #007d93;}
    .color5 {color: #00c5a6;}
*/